.ipynb_checkpoints/1-checkpoint.ipynb
.ipynb_checkpoints/2-checkpoint.ipynb
.ipynb_checkpoints/3-checkpoint.ipynb
.ipynb_checkpoints/4-checkpoint.ipynb
.ipynb_checkpoints/first.ipynb
.ipynb_checkpoints/5-checkpoint.ipynb
.ipynb_checkpoints/tahák jupyter-checkpoint.ipynb
.ipynb_checkpoints/instalace WxPython-checkpoint.ipynb
.ipynb_checkpoints/instalace WxPython a Jupyter notebook-checkpoint.ipynb
.ipynb_checkpoints/Úvod do OOP-checkpoint.ipynb
.ipynb_checkpoints/Úvod do OOP Teorie-checkpoint.ipynb
.ipynb_checkpoints/OOP praxe-checkpoint.ipynb
.ipynb_checkpoints/OOP Teorie-checkpoint.ipynb
.ipynb_checkpoints/1 instalace WxPython a Jupyter notebook-checkpoint.ipynb
.ipynb_checkpoints/2 OOP Teorie-checkpoint.ipynb
.ipynb_checkpoints/3 OOP praxe-checkpoint.ipynb
.ipynb_checkpoints/4 První aplikace-checkpoint.ipynb
.ipynb_checkpoints/5 Přepsání do OOP-checkpoint.ipynb
.ipynb_checkpoints/6 Tlačítko-checkpoint.ipynb
.ipynb_checkpoints/7 Menubar-checkpoint.ipynb
.ipynb_checkpoints/8-checkpoint.ipynb
.ipynb_checkpoints/wxGlade-checkpoint.ipynb
.ipynb_checkpoints/8 Vstup pro uživatele-checkpoint.ipynb
