
Glade/__pycache__/_Kalkulačka_989550550.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_934215988.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_641567938.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_629761065.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_609352689.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_535102139.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_495610801.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_441722030.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_426613697.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_425956614.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_339076184.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_297213377.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_196153471.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_138293337.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_183216572.cpython-38.pyc
Glade/__pycache__/_Kalkulačka_126704704.cpython-38.pyc
Glade/__pycache__/_Desktop_982249868.cpython-38.pyc
Glade/__pycache__/_Desktop_837212805.cpython-38.pyc
Glade/__pycache__/_Desktop_818704306.cpython-38.pyc
Glade/__pycache__/_Desktop_717406315.cpython-38.pyc
Glade/__pycache__/_Desktop_275807912.cpython-38.pyc
Dokumentace/.ipynb_checkpoints/rozpracovaná DPM-checkpoint.ipynb
.ipynb_checkpoints/01 Notebook a instalace WxPython-checkpoint.ipynb
.ipynb_checkpoints/05 Přepsání do OOP a StaticText-checkpoint.ipynb
.ipynb_checkpoints/06 Velikost a pozice rámu-checkpoint.ipynb
.ipynb_checkpoints/08 Vstupy pro uživatele-checkpoint.ipynb
.ipynb_checkpoints/07 Tlačítko-checkpoint.ipynb
.ipynb_checkpoints/02 OOP Teorie-checkpoint.ipynb
.ipynb_checkpoints/03 OOP praxe-checkpoint.ipynb
.ipynb_checkpoints/04 První aplikace-checkpoint.ipynb
.ipynb_checkpoints/09 Menubar-checkpoint.ipynb
.ipynb_checkpoints/10 Třída wx.App-checkpoint.ipynb
.ipynb_checkpoints/wxGlade Instalace a úvod-checkpoint.ipynb
.ipynb_checkpoints/wxGlade mixér barev-checkpoint.ipynb
Glade/__pycache__/_Mixér Barev_393328011.cpython-38.pyc
Glade/__pycache__/_Mixér Barev_695535114.cpython-38.pyc
Glade/__pycache__/_Mixér Barev_989275521.cpython-38.pyc
Glade/__pycache__/_test_301931290.cpython-38.pyc
Glade/__pycache__/_test_764991712.cpython-38.pyc
Glade/__pycache__/_test_950513592.cpython-38.pyc
.ipynb_checkpoints/Základní widgety-checkpoint.ipynb
.ipynb_checkpoints/Jupyter Notebook-checkpoint.ipynb
.ipynb_checkpoints/Main-checkpoint.ipynb
.ipynb_checkpoints/00 Jupyter Notebook-checkpoint.ipynb
.ipynb_checkpoints/000 Main-checkpoint.ipynb
