
.ipynb_checkpoints/1-checkpoint.ipynb
.ipynb_checkpoints/2-checkpoint.ipynb
.ipynb_checkpoints/3-checkpoint.ipynb
.ipynb_checkpoints/4-checkpoint.ipynb
.ipynb_checkpoints/first.ipynb
.ipynb_checkpoints/5-checkpoint.ipynb
